*{
  box-sizing: border-box;
}


body{
  color: #333;
}

img{
  max-width: 100%;
}

main{
  padding: 12px;
  max-width: 650px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  margin-top: 19px;
}

header a{
  text-decoration: none;
  color: inherit;
  margin-bottom: 45px;

}

header a.logo{
  font-weight: bold;
  font-size: 1.6rem;
}

header nav{
  display: flex;
  gap: 15px;
}

div.entry{
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 29px;
}

@media screen and (min-width: 770px) {
  div.entry{
    grid-template-columns: 0.9fr 1.1fr;
  }
}





div.entry div.text h2{
  margin: 0;
  font-size: 1.9rem;
  text-decoration: none;
  
}

div.entry div.text a{
  text-decoration: none;
  color: inherit;
}


div.entry p.info{
  margin:7px 0;
  color: #888;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  gap: 11px;
}

div.entry p.info a.author{
  color: #333;
}

div.entry p.description{
  margin: 17px 0;
  line-height: 1.5rem;

}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}

input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 6px 8px;
  border: 0;
  border-radius: 9px;
  background-color: #ddd;
  border-bottom: 1px solid;
}

button{
  width: 100%;
  display: block;
  background-color: #555;
  color: white;
  border: 0;
  border-radius: 9px;
  padding: 6px 0;
}

form.login, form.register h1{
  text-align: center;
}

div.post-page div.image{
  max-height: 400px;
  overflow: hidden;
}
div.post-page div.image img{
  object-fit: cover;
  object-position: center center;
}

div.post-page a{
  color: #333;
  text-decoration: underline;
}

div.post-page h1{
  text-align: center;
  margin: 11px 0 6px;
}

div.post-page time{
  text-align: center;
  display: block;
  font-size: .8rem;
  color: #aaa;
}

div.post-page div.author{
  text-align: center;
  margin-bottom: 23px;
  font-size: .9rem;
  font-weight: bold;
}

div.post-page div.content p{
  line-height: 1.7rem;
}
