body{
  color: #333;
}

img{
  max-width: 100%;
}

main{
  padding: 12px;
  max-width: 450px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
}

header a{
  text-decoration: none;
  color: inherit;
  margin-bottom: 45px;

}

header a.logo{
  font-weight: bold;
}

header nav{
  display: flex;
  gap: 15px;
}

div.entry{
  display: flex;
}

div.entry img{
  width: 50%;
}